{
    "extends": [
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}