* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(85, 85, 85);
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 72px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.greeting, 
.counter,
.measure,
.title-changer {
    color: rgb(95, 166, 248);
    font-size: 72px;
    font-weight: bold;
    font-variant: small-caps;

    border-radius: 32px;
    border: 6px solid rgb(95, 166, 248);
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 10px 2px rgb(53, 96, 145);

    display: grid;
    flex-grow: 1;
}

.center {
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    height: 240px;
    margin-top: auto;
    padding: 36px;
    gap: 36px;
}

.button, input, select, option {
    color: rgb(95, 166, 248);
    font-size: 144px;
    font-weight: bold;
    font-variant: small-caps;

    border-radius: 32px;
    border: 6px solid rgb(95, 166, 248);
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 10px 2px rgb(53, 96, 145);

    outline: none;
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
    min-width: 0
}

.button.red, input.red, select.red, option.red,
.greeting.red, 
.counter.red,
.measure.red,
.title-changer.red {
    color: rgb(248, 166, 95);
    border-color:rgb(248, 166, 95);
    box-shadow: 0px 0px 10px 2px rgb(248, 166, 95);
}

input {
    width: 100%;
    text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label {
    font-size: 144px;
    font-weight: bold;
    font-variant: small-caps;
}

.button.smaller-text {
    font-size: 44px;
}

.button[disabled] {
    color: gray !important;
    border-color: gray !important;
}

.button:active {
    background-color: rgb(95, 166, 248);
}

.button.red:active {
    background-color: rgb(248, 166, 95);
}

.button:focus, 
.button:enabled:hover,
input:focus {
    border-color: white;
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
}

legend {
    font-size: 72px;
    font-weight: bold;
    font-variant: small-caps;
}

.boil, .not-boil {
    font-size: 72px;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0;
}
.boil {
    color: red;
}